<div class="bg-white">
  <div class="relative h-40 max-w-2xl mx-auto mt-12">
    <%= image_tag("logo.png", class: "absolute w-full object-cover", alt: "") %>
  </div>
  <div class="px-6 py-12 sm:px-6 sm:py-16 lg:px-8">
    <div class="mx-auto max-w-7xl">
      <div id="app"></div>
    </div>
  </div>
</div>
